.fade-in-bck {
	-webkit-animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.animate-spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.blink{
    animation: blink 3s linear infinite;
}
.shake{
    animation: horizontal-shaking .2s linear forwards;
}
.show-slide-hint .account-avatar-name-cont{
    transition: animation 2s ease-in;
    animation: slide-hint 3s ease forwards;
}
.show-slide-hint .account-action-btn-cont{
    display: flex !important;
}
@-webkit-keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(80px);
            transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(80px);
            transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-hint {
    0%{
        left: 0;
    }
    50%{
        left: -60px;
    }
    100%{
        left: 0;
    }
}
@keyframes blink {
    0%{
        opacity: 1;
    }
    50%{
        opacity: .4;
    }
    100%{
        opacity: 1;
    }
}
@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}
/* Define a transition duration during page visits */
html.is-changing .transition-fade {
    transition: opacity 0.25s;
    opacity: 1;
  }
  /* Define the styles for the unloaded pages */
html.is-animating .transition-fade {
    opacity: 0;
}
.fade-in {
	-webkit-animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.fade-in-bck {
	-webkit-animation: fade-in-bck 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bck 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.scale-in-center {
	-webkit-animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
}
@keyframes scale-in-center {
0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
}
100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
}
}

@-webkit-keyframes fade-in {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
@keyframes fade-in {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

@-webkit-keyframes fade-in-bck {
0% {
    -webkit-transform: translateZ(80px);
            transform: translateZ(80px);
    opacity: 0;
}
100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
}
}
@keyframes fade-in-bck {
0% {
    -webkit-transform: translateZ(80px);
            transform: translateZ(80px);
    opacity: 0;
}
100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
}
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
